*{
    border: none;
}
.fild-50{
    width: 50px;
    text-align: center;
    text-align: center;
}
.fild-100{
    width: 128px;
    text-align: center;
}
.fild-btn{
    display: flex;
    gap: 8px;
}
.fa-pen-to-square, .fa-trash-can{
    font-size: 25px;
    border: none;
}
.fa-pen-to-square:hover{
    opacity: .5;
}
tr:hover{
    cursor: pointer;
    background-color: blueviolet !important;
}
.sumir{
    display: none;
}